@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 240 10% 3.9%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 17% 95%;
    --popover-foreground: 210 5% 28%;
    --card: 210 17% 96%;
    --card-foreground: 210 5% 33%;
    --border: 210 7% 93%;
    --input: 210 7% 90%;
    --primary: 35 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 30% 25%;
    --secondary-foreground: 35 30% 85%;
    --accent: 210 17% 83%;
    --accent-foreground: 210 17% 23%;
    --destructive: 5 83% 33%;
    --destructive-foreground: 5 83% 93%;
    --ring: 35 100% 60%;
    --chart-1: 35 100% 60%;
    --chart-2: 35 30% 25%;
    --chart-3: 210 17% 83%;
    --chart-4: 35 30% 28%;
    --chart-5: 35 103% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 17% 98%;
    --foreground: 210 5% 38%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 17% 95%;
    --popover-foreground: 210 5% 28%;
    --card: 210 17% 96%;
    --card-foreground: 210 5% 33%;
    --border: 210 7% 93%;
    --input: 210 7% 90%;
    --primary: 35 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 35 30% 25%;
    --secondary-foreground: 35 30% 85%;
    --accent: 210 17% 83%;
    --accent-foreground: 210 17% 23%;
    --destructive: 5 83% 33%;
    --destructive-foreground: 5 83% 93%;
    --ring: 35 100% 60%;
    --chart-1: 35 100% 60%;
    --chart-2: 35 30% 25%;
    --chart-3: 210 17% 83%;
    --chart-4: 35 30% 28%;
    --chart-5: 35 103% 60%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
